# .gitignore
# ignore node_modules and yarn cache
node_modules
yarn.lock
yarn/nodemodules

# ignore rust build artifacts
target

# ignore cargo vendored crates
vendor

# ignore IDE metadata
.idea
.vscode

# ignore other stuff
.DS_Store
Thumbs.db
ehthumbs.db
ehcache.db